.loginbackground{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    color: #fff!important;;
    background: linear-gradient(155deg, #55c7ed, #2797bd, #057ea7)!important;
}
.form-control {
    min-height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: transparent;
}
.form-control:focus {
    background: #e2e2e2;
}
.form-control, .btn {        
    border-radius: 2px;
}
.login-form {
    background-color: white;
    width: 50%;
    height:40%;
    margin: 5% auto;
    /* text-align: center; */
    color: black;
    padding: 2% 4% 2% 4%;
    border-radius: 30px;
    box-shadow: 0 4px 6px 5px rgba(99, 98, 98, 0.8);
}

.logoimage{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    margin: 0px 0px 7% 1%; 
    box-shadow: 2px 4px 6px 3px rgba(83, 82, 82, 0.8);
  }

.login-form h2 {
    margin: 5% 8% 8% 8%;
}
#log {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form .btn {        
    font-size: 20px;
    font-weight: bold;
    background: #40a0c0;
    border: none;
    outline: none !important;
    padding: 2%;
    width: 50%;
    border-radius: 20px;
    margin-left: 25%;
    margin-top:3%;
    box-shadow: 0 4px 6px -1px rgba(99, 98, 98, 0.8);
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #0b5e96;
}
.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}
